 <p>Please enter your name.</p>

<input type="textbox" name="course[track_codes][]", value="a">
<input type="textbox" name="course[track_codes][]", value="b">
<input type="textbox" name="course[track_codes][]", value="c">










<%#<form action="student_name" method="post">
	<input type="text" name="user_input">
	<input type="submit">
</form>%>